{{ template "header" .}}

<body>
  {{ template "paginator" .}}
  <div class="container-fluid" style="margin-top:80px">
    <h1>{{.alblum_name}}</h1>
    <hr class="mt-2 mb-5">
    <div class="list-group">
      {{range .alblums}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-2">
            <a href="/a/{{.}}">
              <img class="img-fluid img-thumbnail" src="/s/{{.alblum_id}}/thumbnail.jpg">
            </a>
          </div>
          <div class="col-sm-2">
            {{.}}
          </div>
        </div>
      </li>
      {{end}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
    {{ $id := .alblum_id }}
    {{range .images}}
    
      <div class="col-lg-3 col-md-4 col-6">
        <a href="/a/{{ $id }}/{{.}}">
          <img class="img-fluid img-thumbnail" src="/s/{{ $id }}/{{.}}">
        </a>
      </div>
    
    {{end}}
</body>

