<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{.name}}</title>

  <link href="/Users/pathompong/mywork/golang/my_photo/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="/Users/pathompong/mywork/golang/my_photo/bootstrap-5.3.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <h1>{{.alblum_name}}</h1>
    <hr class="mt-2 mb-5">
    <div class="list-group">
			<li class="list-group-item">
				
				<div class="row">

					<div class="col-sm-2">
        <a href="/alblum/twitter/image/{{.}}">
          <img class="img-thumbnail" src="/Users/pathompong/mywork/golang/my_photo/gallery/psychedelic-paper-shapes-with-copy-space_23-2149378246.jpg">
        </a>
		</div>
		</div>
		</li>
	  </ul>
      </div>
    </div>
  </div>
</body>

</html>